<?xml version="1.0"?>
<config version="10.2.0" urldb="paloaltonetworks" detail-version="10.2.3">
  <mgt-config>
    <users>
      <entry name="admin">
        <phash>{{ Palo_Admin_Pass_Hash }}</phash>
        <permissions>
          <role-based>
            <superuser>yes</superuser>
          </role-based>
        </permissions>
      </entry>
      <entry name="monitor">
        <permissions>
          <role-based>
            <superuser>yes</superuser>
          </role-based>
        </permissions>
        <phash>{{ Palo_Admin_Pass_Hash }}</phash>
      </entry>
    </users>
  </mgt-config>
  <shared>
    <application/>
    <application-group/>
    <service/>
    <service-group/>
    <botnet>
      <configuration>
        <http>
          <dynamic-dns>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </dynamic-dns>
          <malware-sites>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </malware-sites>
          <recent-domains>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </recent-domains>
          <ip-domains>
            <enabled>yes</enabled>
            <threshold>10</threshold>
          </ip-domains>
          <executables-from-unknown-sites>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </executables-from-unknown-sites>
        </http>
        <other-applications>
          <irc>yes</irc>
        </other-applications>
        <unknown-applications>
          <unknown-tcp>
            <destinations-per-hour>10</destinations-per-hour>
            <sessions-per-hour>10</sessions-per-hour>
            <session-length>
              <maximum-bytes>100</maximum-bytes>
              <minimum-bytes>50</minimum-bytes>
            </session-length>
          </unknown-tcp>
          <unknown-udp>
            <destinations-per-hour>10</destinations-per-hour>
            <sessions-per-hour>10</sessions-per-hour>
            <session-length>
              <maximum-bytes>100</maximum-bytes>
              <minimum-bytes>50</minimum-bytes>
            </session-length>
          </unknown-udp>
        </unknown-applications>
      </configuration>
      <report>
        <topn>100</topn>
        <scheduled>yes</scheduled>
      </report>
    </botnet>
    <server-profile>
      <tacplus>
        <entry name="csp-ise">
          <server>
            <entry name="csp001ise02p">
              <secret>-AQ==S89p4MAD0bhaH4v1mYCt0W7ypYc=JsUZSkUN01jixC9KOfSEYA==</secret>
              <port>49</port>
              <address>10.128.224.5</address>
            </entry>
            <entry name="csp015ise01p">
              <secret>-AQ==S89p4MAD0bhaH4v1mYCt0W7ypYc=JsUZSkUN01jixC9KOfSEYA==</secret>
              <port>49</port>
              <address>10.130.224.5</address>
            </entry>
          </server>
          <protocol>PAP</protocol>
        </entry>
      </tacplus>
    </server-profile>
    <authentication-profile>
      <entry name="csp-ise">
        <method>
          <tacplus>
            <server-profile>csp-ise</server-profile>
          </tacplus>
        </method>
        <multi-factor-auth>
          <mfa-enable>no</mfa-enable>
        </multi-factor-auth>
        <allow-list>
          <member>all</member>
        </allow-list>
      </entry>
    </authentication-profile>
    <admin-role>
      <entry name="tacacs_admin">
        <role>
          <device>
            <cli>superuser</cli>
            <webui>
              <dashboard>enable</dashboard>
              <acc>enable</acc>
              <monitor>
                <logs>
                  <traffic>enable</traffic>
                  <threat>enable</threat>
                  <url>enable</url>
                  <wildfire>enable</wildfire>
                  <data-filtering>enable</data-filtering>
                  <hipmatch>enable</hipmatch>
                  <globalprotect>enable</globalprotect>
                  <iptag>enable</iptag>
                  <userid>enable</userid>
                  <decryption>enable</decryption>
                  <tunnel>enable</tunnel>
                  <configuration>enable</configuration>
                  <system>enable</system>
                  <alarm>enable</alarm>
                  <authentication>enable</authentication>
                </logs>
                <automated-correlation-engine>
                  <correlation-objects>enable</correlation-objects>
                  <correlated-events>enable</correlated-events>
                </automated-correlation-engine>
                <packet-capture>enable</packet-capture>
                <app-scope>enable</app-scope>
                <session-browser>enable</session-browser>
                <botnet>enable</botnet>
                <pdf-reports>
                  <manage-pdf-summary>enable</manage-pdf-summary>
                  <pdf-summary-reports>enable</pdf-summary-reports>
                  <user-activity-report>enable</user-activity-report>
                  <saas-application-usage-report>enable</saas-application-usage-report>
                  <report-groups>enable</report-groups>
                  <email-scheduler>enable</email-scheduler>
                </pdf-reports>
                <custom-reports>
                  <application-statistics>enable</application-statistics>
                  <data-filtering-log>enable</data-filtering-log>
                  <threat-log>enable</threat-log>
                  <threat-summary>enable</threat-summary>
                  <traffic-log>enable</traffic-log>
                  <traffic-summary>enable</traffic-summary>
                  <url-log>enable</url-log>
                  <url-summary>enable</url-summary>
                  <hipmatch>enable</hipmatch>
                  <globalprotect>enable</globalprotect>
                  <wildfire-log>enable</wildfire-log>
                  <tunnel-log>enable</tunnel-log>
                  <tunnel-summary>enable</tunnel-summary>
                  <iptag>enable</iptag>
                  <userid>enable</userid>
                  <auth>enable</auth>
                </custom-reports>
                <view-custom-reports>enable</view-custom-reports>
                <application-reports>enable</application-reports>
                <threat-reports>enable</threat-reports>
                <url-filtering-reports>enable</url-filtering-reports>
                <traffic-reports>enable</traffic-reports>
              </monitor>
              <policies>
                <security-rulebase>enable</security-rulebase>
                <nat-rulebase>enable</nat-rulebase>
                <qos-rulebase>enable</qos-rulebase>
                <pbf-rulebase>enable</pbf-rulebase>
                <ssl-decryption-rulebase>enable</ssl-decryption-rulebase>
                <tunnel-inspect-rulebase>enable</tunnel-inspect-rulebase>
                <application-override-rulebase>enable</application-override-rulebase>
                <authentication-rulebase>enable</authentication-rulebase>
                <dos-rulebase>enable</dos-rulebase>
                <sdwan-rulebase>enable</sdwan-rulebase>
                <rule-hit-count-reset>enable</rule-hit-count-reset>
              </policies>
              <objects>
                <addresses>enable</addresses>
                <address-groups>enable</address-groups>
                <regions>enable</regions>
                <dynamic-user-groups>enable</dynamic-user-groups>
                <applications>enable</applications>
                <application-groups>enable</application-groups>
                <application-filters>enable</application-filters>
                <services>enable</services>
                <service-groups>enable</service-groups>
                <tags>enable</tags>
                <devices>enable</devices>
                <global-protect>
                  <hip-objects>enable</hip-objects>
                  <hip-profiles>enable</hip-profiles>
                </global-protect>
                <dynamic-block-lists>enable</dynamic-block-lists>
                <custom-objects>
                  <data-patterns>enable</data-patterns>
                  <spyware>enable</spyware>
                  <vulnerability>enable</vulnerability>
                  <url-category>enable</url-category>
                </custom-objects>
                <security-profiles>
                  <antivirus>enable</antivirus>
                  <anti-spyware>enable</anti-spyware>
                  <vulnerability-protection>enable</vulnerability-protection>
                  <url-filtering>enable</url-filtering>
                  <file-blocking>enable</file-blocking>
                  <wildfire-analysis>enable</wildfire-analysis>
                  <data-filtering>enable</data-filtering>
                  <dos-protection>enable</dos-protection>
                </security-profiles>
                <security-profile-groups>enable</security-profile-groups>
                <log-forwarding>enable</log-forwarding>
                <authentication>enable</authentication>
                <decryption>
                  <decryption-profile>enable</decryption-profile>
                </decryption>
                <sdwan>
                  <sdwan-profile>enable</sdwan-profile>
                  <sdwan-saas-quality-profile>enable</sdwan-saas-quality-profile>
                  <sdwan-dist-profile>enable</sdwan-dist-profile>
                  <sdwan-error-correction-profile>enable</sdwan-error-correction-profile>
                </sdwan>
                <schedules>enable</schedules>
              </objects>
              <network>
                <interfaces>enable</interfaces>
                <zones>enable</zones>
                <vlans>enable</vlans>
                <virtual-wires>enable</virtual-wires>
                <virtual-routers>enable</virtual-routers>
                <ipsec-tunnels>enable</ipsec-tunnels>
                <gre-tunnels>enable</gre-tunnels>
                <dhcp>enable</dhcp>
                <dns-proxy>enable</dns-proxy>
                <global-protect>
                  <portals>enable</portals>
                  <gateways>enable</gateways>
                  <mdm>enable</mdm>
                  <clientless-apps>enable</clientless-apps>
                  <clientless-app-groups>enable</clientless-app-groups>
                </global-protect>
                <qos>enable</qos>
                <lldp>enable</lldp>
                <network-profiles>
                  <gp-app-ipsec-crypto>enable</gp-app-ipsec-crypto>
                  <ike-gateways>enable</ike-gateways>
                  <ipsec-crypto>enable</ipsec-crypto>
                  <ike-crypto>enable</ike-crypto>
                  <tunnel-monitor>enable</tunnel-monitor>
                  <interface-mgmt>enable</interface-mgmt>
                  <zone-protection>enable</zone-protection>
                  <qos-profile>enable</qos-profile>
                  <lldp-profile>enable</lldp-profile>
                  <bfd-profile>enable</bfd-profile>
                </network-profiles>
                <sdwan-interface-profile>enable</sdwan-interface-profile>
              </network>
              <device>
                <setup>
                  <management>enable</management>
                  <operations>enable</operations>
                  <services>enable</services>
                  <interfaces>enable</interfaces>
                  <telemetry>enable</telemetry>
                  <content-id>enable</content-id>
                  <wildfire>enable</wildfire>
                  <session>enable</session>
                  <hsm>enable</hsm>
                </setup>
                <high-availability>enable</high-availability>
                <config-audit>enable</config-audit>
                <administrators>read-only</administrators>
                <admin-roles>read-only</admin-roles>
                <authentication-profile>enable</authentication-profile>
                <authentication-sequence>enable</authentication-sequence>
                <user-identification>enable</user-identification>
                <data-redistribution>enable</data-redistribution>
                <device-quarantine>enable</device-quarantine>
                <vm-info-source>enable</vm-info-source>
                <troubleshooting>enable</troubleshooting>
                <certificate-management>
                  <certificates>enable</certificates>
                  <certificate-profile>enable</certificate-profile>
                  <ocsp-responder>enable</ocsp-responder>
                  <ssl-tls-service-profile>enable</ssl-tls-service-profile>
                  <scep>enable</scep>
                  <ssl-decryption-exclusion>enable</ssl-decryption-exclusion>
                  <ssh-service-profile>enable</ssh-service-profile>
                </certificate-management>
                <block-pages>enable</block-pages>
                <log-settings>
                  <system>enable</system>
                  <config>enable</config>
                  <iptag>enable</iptag>
                  <user-id>enable</user-id>
                  <hipmatch>enable</hipmatch>
                  <globalprotect>enable</globalprotect>
                  <cc-alarm>enable</cc-alarm>
                  <manage-log>enable</manage-log>
                </log-settings>
                <server-profile>
                  <snmp-trap>enable</snmp-trap>
                  <syslog>enable</syslog>
                  <email>enable</email>
                  <http>enable</http>
                  <netflow>enable</netflow>
                  <radius>enable</radius>
                  <tacplus>enable</tacplus>
                  <ldap>enable</ldap>
                  <kerberos>enable</kerberos>
                  <saml_idp>enable</saml_idp>
                  <mfa>enable</mfa>
                </server-profile>
                <local-user-database>
                  <users>enable</users>
                  <user-groups>enable</user-groups>
                </local-user-database>
                <scheduled-log-export>enable</scheduled-log-export>
                <software>enable</software>
                <global-protect-client>enable</global-protect-client>
                <dynamic-updates>enable</dynamic-updates>
                <plugins>enable</plugins>
                <licenses>enable</licenses>
                <support>enable</support>
                <master-key>enable</master-key>
                <policy-recommendations>
                  <iot>enable</iot>
                  <saas>enable</saas>
                </policy-recommendations>
              </device>
              <operations>
                <reboot>enable</reboot>
                <generate-tech-support-file>enable</generate-tech-support-file>
                <generate-stats-dump-file>enable</generate-stats-dump-file>
                <download-core-files>enable</download-core-files>
              </operations>
              <privacy>
                <show-full-ip-addresses>enable</show-full-ip-addresses>
                <show-user-names-in-logs-and-reports>enable</show-user-names-in-logs-and-reports>
                <view-pcap-files>enable</view-pcap-files>
              </privacy>
              <validate>enable</validate>
              <save>
                <partial-save>enable</partial-save>
                <save-for-other-admins>enable</save-for-other-admins>
              </save>
              <commit>
                <device>enable</device>
                <commit-for-other-admins>enable</commit-for-other-admins>
              </commit>
              <tasks>enable</tasks>
              <global>
                <system-alarms>enable</system-alarms>
              </global>
            </webui>
            <xmlapi>
              <report>enable</report>
              <log>enable</log>
              <config>enable</config>
              <op>enable</op>
              <commit>enable</commit>
              <user-id>enable</user-id>
              <iot>enable</iot>
              <export>enable</export>
              <import>enable</import>
            </xmlapi>
            <restapi>
              <objects>
                <addresses>enable</addresses>
                <address-groups>enable</address-groups>
                <regions>enable</regions>
                <dynamic-user-groups>enable</dynamic-user-groups>
                <applications>enable</applications>
                <application-groups>enable</application-groups>
                <application-filters>enable</application-filters>
                <services>enable</services>
                <service-groups>enable</service-groups>
                <tags>enable</tags>
                <devices>enable</devices>
                <globalprotect-hip-objects>enable</globalprotect-hip-objects>
                <globalprotect-hip-profiles>enable</globalprotect-hip-profiles>
                <external-dynamic-lists>enable</external-dynamic-lists>
                <custom-data-patterns>enable</custom-data-patterns>
                <custom-spyware-signatures>enable</custom-spyware-signatures>
                <custom-vulnerability-signatures>enable</custom-vulnerability-signatures>
                <custom-url-categories>enable</custom-url-categories>
                <antivirus-security-profiles>enable</antivirus-security-profiles>
                <anti-spyware-security-profiles>enable</anti-spyware-security-profiles>
                <vulnerability-protection-security-profiles>enable</vulnerability-protection-security-profiles>
                <url-filtering-security-profiles>enable</url-filtering-security-profiles>
                <file-blocking-security-profiles>enable</file-blocking-security-profiles>
                <wildfire-analysis-security-profiles>enable</wildfire-analysis-security-profiles>
                <data-filtering-security-profiles>enable</data-filtering-security-profiles>
                <dos-protection-security-profiles>enable</dos-protection-security-profiles>
                <gtp-protection-security-profiles>enable</gtp-protection-security-profiles>
                <sctp-protection-security-profiles>enable</sctp-protection-security-profiles>
                <security-profile-groups>enable</security-profile-groups>
                <log-forwarding-profiles>enable</log-forwarding-profiles>
                <authentication-enforcements>enable</authentication-enforcements>
                <decryption-profiles>enable</decryption-profiles>
                <schedules>enable</schedules>
                <sdwan-path-quality-profiles>enable</sdwan-path-quality-profiles>
                <sdwan-saas-quality-profiles>enable</sdwan-saas-quality-profiles>
                <sdwan-traffic-distribution-profiles>enable</sdwan-traffic-distribution-profiles>
                <sdwan-error-correction-profiles>enable</sdwan-error-correction-profiles>
              </objects>
              <policies>
                <security-rules>enable</security-rules>
                <nat-rules>enable</nat-rules>
                <qos-rules>enable</qos-rules>
                <policy-based-forwarding-rules>enable</policy-based-forwarding-rules>
                <decryption-rules>enable</decryption-rules>
                <tunnel-inspection-rules>enable</tunnel-inspection-rules>
                <application-override-rules>enable</application-override-rules>
                <authentication-rules>enable</authentication-rules>
                <dos-rules>enable</dos-rules>
                <sdwan-rules>enable</sdwan-rules>
              </policies>
              <network>
                <aggregate-ethernet-interfaces>enable</aggregate-ethernet-interfaces>
                <ethernet-interfaces>enable</ethernet-interfaces>
                <vlan-interfaces>enable</vlan-interfaces>
                <loopback-interfaces>enable</loopback-interfaces>
                <tunnel-interfaces>enable</tunnel-interfaces>
                <zones>enable</zones>
                <vlans>enable</vlans>
                <virtual-wires>enable</virtual-wires>
                <virtual-routers>enable</virtual-routers>
                <logical-routers>enable</logical-routers>
                <bgp-routing-profiles>enable</bgp-routing-profiles>
                <ipsec-tunnels>enable</ipsec-tunnels>
                <gre-tunnels>enable</gre-tunnels>
                <dhcp-servers>enable</dhcp-servers>
                <dhcp-relays>enable</dhcp-relays>
                <dns-proxies>enable</dns-proxies>
                <globalprotect-portals>enable</globalprotect-portals>
                <globalprotect-gateways>enable</globalprotect-gateways>
                <globalprotect-mdm-servers>enable</globalprotect-mdm-servers>
                <globalprotect-clientless-apps>enable</globalprotect-clientless-apps>
                <globalprotect-clientless-app-groups>enable</globalprotect-clientless-app-groups>
                <qos-interfaces>enable</qos-interfaces>
                <lldp>enable</lldp>
                <globalprotect-ipsec-crypto-network-profiles>enable</globalprotect-ipsec-crypto-network-profiles>
                <ike-gateway-network-profiles>enable</ike-gateway-network-profiles>
                <ipsec-crypto-network-profiles>enable</ipsec-crypto-network-profiles>
                <ike-crypto-network-profiles>enable</ike-crypto-network-profiles>
                <tunnel-monitor-network-profiles>enable</tunnel-monitor-network-profiles>
                <interface-management-network-profiles>enable</interface-management-network-profiles>
                <zone-protection-network-profiles>enable</zone-protection-network-profiles>
                <qos-network-profiles>enable</qos-network-profiles>
                <lldp-network-profiles>enable</lldp-network-profiles>
                <bfd-network-profiles>enable</bfd-network-profiles>
                <sdwan-interfaces>enable</sdwan-interfaces>
                <sdwan-interface-profiles>enable</sdwan-interface-profiles>
              </network>
              <device>
                <log-interface-setting>enable</log-interface-setting>
                <virtual-systems>enable</virtual-systems>
              </device>
              <system>
                <configuration>enable</configuration>
              </system>
            </restapi>
          </device>
        </role>
        <description>TACACs SuperUser</description>
      </entry>
    </admin-role>
  </shared>
  <devices>
    <entry name="localhost.localdomain">
      <network>
        <interface>
          <ethernet>
            <entry name="{{ item.Palo_Trust_INT}}">
              <layer3>
                <ip>
                  <entry name="{{ item.int_ip }}/24"/>
                </ip>
                <ndp-proxy>
                  <enabled>no</enabled>
                </ndp-proxy>
                <interface-management-profile>MP_Ping</interface-management-profile>
                <lldp>
                  <enable>no</enable>
                </lldp>
                <sdwan-link-settings>
                  <upstream-nat>
                    <enable>no</enable>
                    <static-ip/>
                  </upstream-nat>
                  <enable>no</enable>
                </sdwan-link-settings>
              </layer3>
              <comment>{{ item.Palo_Trust_VLAN }}</comment>
            </entry>
            <entry name="{{ item.Palo_DMZ_INT }}">
              <layer3>
                <ip>
                  <entry name="{{ item.dmz_ip }}/24"/>
                </ip>
                <ndp-proxy>
                  <enabled>no</enabled>
                </ndp-proxy>
                <interface-management-profile>MP_Ping</interface-management-profile>
                <lldp>
                  <enable>no</enable>
                </lldp>
                <sdwan-link-settings>
                  <upstream-nat>
                    <enable>no</enable>
                    <static-ip/>
                  </upstream-nat>
                  <enable>no</enable>
                </sdwan-link-settings>
              </layer3>
              <comment>{{ item.Palo_DMZ_VLAN }}</comment>
            </entry>
            <entry name="{{ item.Palo_Untrust_INT}}">
              <layer3>
                <ip>
	                <entry name="{{ item.Palo_Untrust_IP }}/{{ item.Palo_Untrust_CIDR }}"/>
                </ip>
                <ndp-proxy>
                  <enabled>no</enabled>
                </ndp-proxy>
                <sdwan-link-settings>
                  <upstream-nat>
                    <enable>no</enable>
                    <static-ip/>
                  </upstream-nat>
                  <enable>no</enable>
                </sdwan-link-settings>
                <lldp>
                  <enable>no</enable>
                </lldp>
              </layer3>
              <comment>{{ item.Palo_Untrust_VLAN }}</comment>
            </entry>
          </ethernet>
        </interface>
        <profiles>
          <monitor-profile>
            <entry name="default">
              <interval>3</interval>
              <threshold>5</threshold>
              <action>wait-recover</action>
            </entry>
          </monitor-profile>
          <interface-management-profile>
            <entry name="MP_Ping">
              <ping>yes</ping>
              <userid-service>yes</userid-service>
            </entry>
            <entry name="Untrust-MGMT">
              <ping>yes</ping>
            </entry>
            <entry name="DMZ-MGMT">
              <ping>yes</ping>
            </entry>
          </interface-management-profile>
          <zone-protection-profile>
            <entry name="Untrust-ZP">
              <flood>
                <tcp-syn>
                  <enable>yes</enable>
                  <red>
                    <alarm-rate>5000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                </tcp-syn>
                <udp>
                  <enable>yes</enable>
                  <red>
                    <alarm-rate>5000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                </udp>
                <icmp>
                  <enable>yes</enable>
                  <red>
                    <alarm-rate>5000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                </icmp>
                <icmpv6>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </icmpv6>
                <other-ip>
                  <red>
                    <alarm-rate>5000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>yes</enable>
                </other-ip>
              </flood>
              <scan>
                <entry name="8001">
                  <action>
                    <block/>
                  </action>
                  <interval>2</interval>
                  <threshold>100</threshold>
                </entry>
                <entry name="8002">
                  <action>
                    <block/>
                  </action>
                  <interval>10</interval>
                  <threshold>100</threshold>
                </entry>
                <entry name="8003">
                  <action>
                    <block/>
                  </action>
                  <interval>2</interval>
                  <threshold>100</threshold>
                </entry>
              </scan>
              <discard-ip-spoof>yes</discard-ip-spoof>
              <discard-icmp-ping-zero-id>yes</discard-icmp-ping-zero-id>
              <discard-icmp-frag>yes</discard-icmp-frag>
              <discard-icmp-large-packet>yes</discard-icmp-large-packet>
              <tcp-reject-non-syn>yes</tcp-reject-non-syn>
              <asymmetric-path>drop</asymmetric-path>
            </entry>
            <entry name="Trust-ZP">
              <scan>
                <entry name="8001">
                  <action>
                    <alert/>
                  </action>
                  <interval>2</interval>
                  <threshold>100</threshold>
                </entry>
                <entry name="8002">
                  <action>
                    <alert/>
                  </action>
                  <interval>10</interval>
                  <threshold>100</threshold>
                </entry>
                <entry name="8003">
                  <action>
                    <alert/>
                  </action>
                  <interval>2</interval>
                  <threshold>100</threshold>
                </entry>
              </scan>
              <flood>
                <tcp-syn>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </tcp-syn>
                <udp>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </udp>
                <icmp>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </icmp>
                <icmpv6>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </icmpv6>
                <other-ip>
                  <red>
                    <alarm-rate>10000</alarm-rate>
                    <activate-rate>10000</activate-rate>
                    <maximal-rate>40000</maximal-rate>
                  </red>
                  <enable>no</enable>
                </other-ip>
              </flood>
              <discard-tcp-syn-with-data>no</discard-tcp-syn-with-data>
              <discard-tcp-synack-with-data>no</discard-tcp-synack-with-data>
            </entry>
          </zone-protection-profile>
        </profiles>
        <ike>
          <crypto-profiles>
            <ike-crypto-profiles>
              <entry name="IKEV1-AES256-SHA1-DH5-8HRS">
                <hash>
                  <member>sha1</member>
                </hash>
                <dh-group>
                  <member>group5</member>
                </dh-group>
                <encryption>
                  <member>aes-256-cbc</member>
                </encryption>
                <lifetime>
                  <hours>8</hours>
                </lifetime>
              </entry>
            </ike-crypto-profiles>
            <ipsec-crypto-profiles>
              <entry name="IPSEC-AES256-SHA1-8HRS">
                <esp>
                  <authentication>
                    <member>sha1</member>
                  </authentication>
                  <encryption>
                    <member>aes-256-cbc</member>
                  </encryption>
                </esp>
                <lifetime>
                  <hours>8</hours>
                </lifetime>
                <dh-group>no-pfs</dh-group>
              </entry>
            </ipsec-crypto-profiles>
            <global-protect-app-crypto-profiles>
              <entry name="default">
                <encryption>
                  <member>aes-128-cbc</member>
                </encryption>
                <authentication>
                  <member>sha1</member>
                </authentication>
              </entry>
            </global-protect-app-crypto-profiles>
          </crypto-profiles>
        </ike>
        <qos>
          <profile>
            <entry name="default">
              <class-bandwidth-type>
                <mbps>
                  <class>
                    <entry name="class1">
                      <priority>real-time</priority>
                    </entry>
                    <entry name="class2">
                      <priority>high</priority>
                    </entry>
                    <entry name="class3">
                      <priority>high</priority>
                    </entry>
                    <entry name="class4">
                      <priority>medium</priority>
                    </entry>
                    <entry name="class5">
                      <priority>medium</priority>
                    </entry>
                    <entry name="class6">
                      <priority>low</priority>
                    </entry>
                    <entry name="class7">
                      <priority>low</priority>
                    </entry>
                    <entry name="class8">
                      <priority>low</priority>
                    </entry>
                  </class>
                </mbps>
              </class-bandwidth-type>
            </entry>
          </profile>
        </qos>
        <virtual-router>
          <entry name="default">
            <protocol>
              <bgp>
                <enable>no</enable>
                <dampening-profile>
                  <entry name="default">
                    <cutoff>1.25</cutoff>
                    <reuse>0.5</reuse>
                    <max-hold-time>900</max-hold-time>
                    <decay-half-life-reachable>300</decay-half-life-reachable>
                    <decay-half-life-unreachable>900</decay-half-life-unreachable>
                    <enable>yes</enable>
                  </entry>
                </dampening-profile>
              </bgp>
            </protocol>
            <interface>
	            <member>{{ item.Palo_Untrust_INT }}</member>
	            <member>{{ item.Palo_Trust_INT }}</member>
	            <member>{{ item.Palo_DMZ_INT }}</member>
            </interface>
            <routing-table>
              <ip>
                <static-route>
                  <entry name="default">
                    <destination>0.0.0.0/0</destination>
		                <interface>{{ item.Palo_Untrust_INT }}</interface>
                    <nexthop>
		                  <ip-address>{{ item.Palo_Untrust_GW }}</ip-address>
                    </nexthop>
                  </entry>
                </static-route>
              </ip>
            </routing-table>
          </entry>
        </virtual-router>
      </network>
      <deviceconfig>
        <system>
          <type>
            <static/>
          </type>
          <update-server>updates.paloaltonetworks.com</update-server>
          <update-schedule>
            <threats>
              <recurring>
                <every-30-mins>
                  <at>2</at>
                  <action>download-and-install</action>
                </every-30-mins>
                <threshold>48</threshold>
              </recurring>
            </threats>
            <statistics-service>
              <application-reports>yes</application-reports>
              <threat-prevention-reports>yes</threat-prevention-reports>
              <threat-prevention-pcap>yes</threat-prevention-pcap>
              <threat-prevention-information>yes</threat-prevention-information>
              <passive-dns-monitoring>yes</passive-dns-monitoring>
              <url-reports>yes</url-reports>
              <health-performance-reports>yes</health-performance-reports>
              <file-identification-reports>yes</file-identification-reports>
            </statistics-service>
            <anti-virus>
              <recurring>
                <hourly>
                  <at>4</at>
                  <action>download-and-install</action>
                </hourly>
              </recurring>
            </anti-virus>
            <wildfire>
              <recurring>
                <every-min>
                  <action>download-and-install</action>
                </every-min>
              </recurring>
            </wildfire>
            <global-protect-datafile>
              <recurring>
                <hourly>
                  <at>40</at>
                  <action>download-and-install</action>
                </hourly>
              </recurring>
            </global-protect-datafile>
            <global-protect-clientless-vpn>
              <recurring>
                <hourly>
                  <at>50</at>
                  <action>download-and-install</action>
                </hourly>
              </recurring>
            </global-protect-clientless-vpn>
          </update-schedule>
          <timezone>{{ item.Time_Zone }}</timezone>
          <service>
            <disable-telnet>yes</disable-telnet>
            <disable-http>yes</disable-http>
            <disable-snmp>no</disable-snmp>
          </service>
          <hostname>{{ item.vm_name }}</hostname>
          <ip-address>{{ item.man_ip }}</ip-address>
          <netmask>{{ item.man_subnet}}</netmask>
          <default-gateway>{{ item.man_gw }}</default-gateway>
          <dns-setting>
            <servers>
{% if item.Palo_DNS_Servers|length >= 1 %}
{% for DNS_Server in item.Palo_DNS_Servers %}
{% if loop.index == 1 %}
              <primary>{{ DNS_Server }}</primary>
{% elif loop.index == 2 %}
	            <secondary>{{ DNS_Server }}</secondary>
{% endif %}
{% endfor %}
{% endif %}
            </servers>
          </dns-setting>
          <snmp-setting>
            <snmp-system>
              <location>{{ item.Site_Code }}</location>
	            <contact>{{ item.Palo_SNMP_Contact }}</contact>
            </snmp-system>
            <access-setting>
              <version>
                <v2c>
                  <snmp-community-string>{{ item.Palo_SNMP_Community }}</snmp-community-string>
                </v2c>
              </version>
            </access-setting>
          </snmp-setting>
          <login-banner>Authorized Access Only

The network you are attempting to access is private and
intended for official use only. Unauthorized access is
strictly prohibited. All activities are subject to monitoring
in accordance with internal Involta Information Security
policies. Involta has the right to monitor, record and audit
for all lawful purposes, any authorized or unauthorized
access may be monitored and can result in criminal or 
civil prosecution under applicable law.
          </login-banner>
          <ntp-servers> 
            <primary-ntp-server>
              <ntp-server-address>time.nist.gov</ntp-server-address>
              <authentication-type>
                <none/>
              </authentication-type>
            </primary-ntp-server>
            <secondary-ntp-server>
              <ntp-server-address>us.pool.ntp.org</ntp-server-address>
              <authentication-type>
                <none/>
              </authentication-type>
            </secondary-ntp-server>
          </ntp-servers>
          <authentication-profile>csp-ise</authentication-profile>          
        </system>
        <setting>
          <config>
            <rematch>yes</rematch>
          </config>
          <management>
            <hostname-type-in-syslog>FQDN</hostname-type-in-syslog>
            <enable-log-high-dp-load>yes</enable-log-high-dp-load>
            <max-rows-in-csv-export>1048576</max-rows-in-csv-export>
            <admin-lockout>
              <failed-attempts>5</failed-attempts>
              <lockout-time>30</lockout-time>
            </admin-lockout>
            <idle-timeout>10</idle-timeout>
            <auto-acquire-commit-lock>yes</auto-acquire-commit-lock>
          </management>
          <auto-mac-detect>yes</auto-mac-detect>
          <ctd>
            <strip-x-fwd-for>yes</strip-x-fwd-for>
            <x-forwarded-for>1</x-forwarded-for>
            <tcp-bypass-exceed-queue>no</tcp-bypass-exceed-queue>
            <udp-bypass-exceed-queue>no</udp-bypass-exceed-queue>
          </ctd>
          <wildfire>
            <file-size-limit>
              <entry name="pe">
                <size-limit>16</size-limit>
              </entry>
              <entry name="apk">
                <size-limit>30</size-limit>
              </entry>
              <entry name="pdf">
                <size-limit>3072</size-limit>
              </entry>
              <entry name="ms-office">
                <size-limit>16384</size-limit>
              </entry>
              <entry name="jar">
                <size-limit>5</size-limit>
              </entry>
              <entry name="flash">
                <size-limit>5</size-limit>
              </entry>
              <entry name="MacOSX">
                <size-limit>10</size-limit>
              </entry>
              <entry name="archive">
                <size-limit>50</size-limit>
              </entry>
              <entry name="linux">
                <size-limit>50</size-limit>
              </entry>
              <entry name="script">
                <size-limit>2000</size-limit>
              </entry>
            </file-size-limit>
            <report-benign-file>yes</report-benign-file>
            <report-grayware-file>yes</report-grayware-file>
          </wildfire>
          <application>
            <notify-user>yes</notify-user>
            <bypass-exceed-queue>no</bypass-exceed-queue>
          </application>
          <logging/>
          <tcp>
            <drop-zero-flag>yes</drop-zero-flag>
            <bypass-exceed-oo-queue>no</bypass-exceed-oo-queue>
            <check-timestamp-option>yes</check-timestamp-option>
            <strip-mptcp-option>yes</strip-mptcp-option>
          </tcp>
          <session>
            <packet-buffer-protection-enable>yes</packet-buffer-protection-enable>
            <packet-buffer-protection-alert>50</packet-buffer-protection-alert>
            <packet-buffer-protection-activate>80</packet-buffer-protection-activate>
            <packet-buffer-protection-block-hold-time>60</packet-buffer-protection-block-hold-time>
            <packet-buffer-protection-block-duration-time>3600</packet-buffer-protection-block-duration-time>
          </session>
        </setting>
      </deviceconfig>
      <vsys>
        <entry name="vsys1">
          <application/>
          <application-group/>
          <zone>
            <entry name="Internet">
              <network>
                <layer3>
                  <member>{{ item.Palo_Untrust_INT }}</member>
                </layer3>
                <zone-protection-profile>Untrust-ZP</zone-protection-profile>
                <enable-packet-buffer-protection>yes</enable-packet-buffer-protection>
              </network>
            </entry>
            <entry name="Trust">
              <network>
                <layer3>
                  <member>{{ item.Palo_Trust_INT }}</member>
                </layer3>
                <zone-protection-profile>Trust-ZP</zone-protection-profile>
                <enable-packet-buffer-protection>yes</enable-packet-buffer-protection>
              </network>
            </entry>
            <entry name="DMZ">
              <network>
                <layer3>
                  <member>{{ item.Palo_DMZ_INT }}</member>
                </layer3>
                <zone-protection-profile>Trust-ZP</zone-protection-profile>
                <enable-packet-buffer-protection>yes</enable-packet-buffer-protection>
              </network>
            </entry>
          </zone>
          <service/>
          <service-group/>
          <schedule/>
          <rulebase>
            <default-security-rules>
              <rules>
                <entry name="intrazone-default" uuid="d58c4f64-0d91-436b-80c6-25dadcae1332">
                  <action>allow</action>
                  <log-start>yes</log-start>
                  <log-end>no</log-end>
                </entry>
                <entry name="interzone-default" uuid="9c985617-d79e-40a0-8c28-e8921f60d3a3">
                  <action>drop</action>
                  <log-start>yes</log-start>
                  <log-end>no</log-end>
                </entry>
              </rules>
            </default-security-rules>
            <nat>
              <rules>
                <entry name="PAT" uuid="462865cc-85b1-4d88-9d60-b720f6ed60fe">
                  <source-translation>
                    <dynamic-ip-and-port>
                      <interface-address>
                        <interface>{{ item.Palo_Untrust_INT }}</interface>
                      </interface-address>
                    </dynamic-ip-and-port>
                  </source-translation>
                  <to>
                    <member>Internet</member>
                  </to>
                  <from>
                    <member>DMZ</member>
                    <member>Trust</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>any</service>
                </entry>
              </rules>
            </nat>
            <security>
              <rules>
                <entry name="GeoBlock_Inbound" uuid="b0a65a51-2f4e-4df6-b60c-070af46e6fdc">
                  <to>
                    <member>any</member>
                  </to>
                  <from>
                    <member>Internet</member>
                  </from>
                  <source>
                    <member>US</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <action>drop</action>
                  <negate-destination>no</negate-destination>
                  <negate-source>yes</negate-source>
                  <disabled>no</disabled>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                </entry>
                <entry name="Known_Palo_Bad_IP_IN" uuid="f56195e4-cfdb-48c6-8f37-f633e3688a61">
                  <from>
                    <member>Internet</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <to>
                    <member>any</member>
                  </to>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <action>drop</action>
                  <disabled>yes</disabled>
                  <description>Only enable the policy if the Threat Prevention License is applied. 
Add the External Dynamic Lists in the Source, apply and enable the policy:
Palo Alto Networks - High risk IP addresses
Palo Alto Networks - Known malicious IP addresses
Palo Alto Networks - Bulletproof IP Addresses</description>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                </entry>
                <entry name="Involta_SOC_Blacklist_IN" uuid="1dbb6beb-5c07-4a7a-8896-61f1f971009c">
                  <to>
                    <member>any</member>
                  </to>
                  <from>
                    <member>Internet</member>
                  </from>
                  <source>
                    <member>grp-INV_SOC_BL</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                  <action>drop</action>
                </entry>
                <entry name="Whitelist" uuid="12255c9c-6de9-4ca1-a69f-9537476036e8">
                  <profile-setting>
                    <group>
                      <member>default</member>
                    </group>
                  </profile-setting>
                  <to>
                    <member>Internet</member>
                  </to>
                  <from>
                    <member>any</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>URL_Whitelist</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                  <action>allow</action>
                </entry>
                <entry name="GeoBlock_Outbound" uuid="59e065b0-9995-40c3-b816-13371428c98d">
                  <to>
                    <member>Internet</member>
                  </to>
                  <from>
                    <member>any</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>US</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <action>deny</action>
                  <negate-destination>yes</negate-destination>
                  <disabled>no</disabled>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                </entry>
                <entry name="Known_Palo_Bad_IP_OUT" uuid="25a63d54-fa4e-47b6-9c57-b36b6a683dbd">
                  <from>
                    <member>any</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <to>
                    <member>Internet</member>
                  </to>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <action>deny</action>
                  <disabled>yes</disabled>
                  <description>Only enable the policy if the Threat Prevention License is applied. 
Add the External Dynamic Lists in the Destination, apply and enable the policy:
Palo Alto Networks - High risk IP addresses
Palo Alto Networks - Known malicious IP addresses
Palo Alto Networks - Bulletproof IP Addresses</description>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                </entry>
                <entry name="Involta_SOC_Blacklist_OUT" uuid="7e1fb54d-2fad-4c46-83d4-9d81fdcf142a">
                  <to>
                    <member>Internet</member>
                  </to>
                  <from>
                    <member>any</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>grp-INV_SOC_BL</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                  <action>deny</action>
                </entry>
                <entry name="APP_Control_OUT" uuid="5f6b5569-0d87-429c-adea-73e9d03228a3">
                  <to>
                    <member>Internet</member>
                  </to>
                  <from>
                    <member>any</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>AF_High-Risk-Apps</member>
                  </application>
                  <service>
                    <member>application-default</member>
                  </service>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                  <action>deny</action>
                </entry>
                <entry name="Web_Browse_Out" uuid="feae7b53-2749-454f-bde9-0d43c0e6a1a8">
                  <to>
                    <member>Internet</member>
                  </to>
                  <from>
                    <member>DMZ</member>
                    <member>Trust</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <action>allow</action>
                  <log-start>no</log-start>
                  <log-end>yes</log-end>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <profile-setting>
                    <group>
                      <member>default</member>
                    </group>
                  </profile-setting>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                </entry>
              </rules>
            </security>
            <dos>
              <rules/>
            </dos>
          </rulebase>
          <import>
            <network>
              <interface>
                <member>{{ item.Palo_Trust_INT }}</member>
                <member>{{ item.Palo_DMZ_INT }}</member>
                <member>{{ item.Palo_Untrust_INT }}</member>
              </interface>
            </network>
          </import>
          <profiles>
            <virus/>
            <spyware/>
            <vulnerability/>
            <url-filtering/>
            <file-blocking/>
            <wildfire-analysis/>
            <dos-protection/>
            <custom-url-category>
              <entry name="URL_Whitelist">
                <type>URL List</type>
              </entry>
            </custom-url-category>
          </profiles>
          <tag>
            <entry name="DMZ">
              <color>color6</color>
            </entry>
            <entry name="Trust">
              <color>color13</color>
            </entry>
            <entry name="Untrust">
              <color>color1</color>
            </entry>
          </tag>
          <user-id-collector>
            <setting/>
          </user-id-collector>
          <profile-group>
            <entry name="default">
              <virus>
                <member>default</member>
              </virus>
              <spyware>
                <member>default</member>
              </spyware>
              <vulnerability>
                <member>strict</member>
              </vulnerability>
              <url-filtering>
                <member>default</member>
              </url-filtering>
              <wildfire-analysis>
                <member>default</member>
              </wildfire-analysis>
            </entry>
          </profile-group>
          <address-group>
            <entry name="grp-INV_SOC_BL">
              <dynamic>
                <filter>127.0.0.1</filter>
              </dynamic>
            </entry>
          </address-group>
          <application-filter>
            <entry name="AF_High-Risk-Apps">
              <risk>
                <member>5</member>
              </risk>
            </entry>
          </application-filter>
        </entry>
      </vsys>
    </entry>
  </devices>
</config>
